:root {
  --font-stack: "Montserrat", sans-serif;
  --bg-color-two: #b5b5b5;
  --bg-color-three: #33475a;
  --bg-color-four: linear-gradient(
    90deg,
    rgba(200, 191, 73, 0.8099614845938375) 27%,
    rgba(18, 52, 150, 0.7903536414565826) 46%
  );
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.hover:hover {
  cursor: pointer;
  background-color: #A9A9A9;
}

.style-none {
  list-style: none;
  text-decoration: none;
}

.font-stack {
  font-family: var(--font-stack);
}

.bg-two {
  background-color: var(--bg-color-two);
}

.bg-three {
  background-color: var(--bg-color-three);
}

.bg-four {
  background: var(--bg-color-four);
}

.form-error {
  border-top: 1px solid;
}

.slide-left {
  -webkit-animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(4000px);
    transform: translateY(4000px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.fade-in {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
